* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    font-family: "Roboto", sans-serif;
    background: linear-gradient(-45deg,#4483cc, #0a2b52);
}
h1 {
    margin: 0;
    padding-top: 67px;
    margin-bottom: 67px;
    color: burlywood;
    font-size: 100px;
    text-transform: uppercase;
    text-align: center;
}
.wrapper {
    max-width: 1140px;
    margin: 0 auto;
}
img {
    display: block;
    width: 50%;
    margin: 0 auto;
}

.tns-outer {
    position: relative;
    .tns-controls {
        width: 100%;
        position: absolute;
        top: 50%;
        z-index: 9999;

        & button[data-controls] {
            width: 50px;
            height: 50px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background-color: transparent;
            border: 0;
            outline: none;

            &::before, &::after {
                content: '';
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                width: 35px;
                height: 5px;
                background-color: #fafafa;
                z-index: 9999;
            }
        }

        & button[data-controls="prev"] {
            left: 25px;
            &::before {
                left: 0px;
                transform-origin: bottom left;
                transform: rotate(-45deg);
            }
            &::after {
                left: 0px;
                transform-origin: top left;
                transform: rotate(45deg);
            }
        }
        & button[data-controls="next"] {
            right: 25px;
            &::before {
                right: 0px;
                transform-origin: bottom right;
                transform: rotate(45deg);
            }
            &::after {
                right: 0px;
                transform-origin: top right;
                transform: rotate(-45deg);
            }
        }
    }
    .tns-nav {
        width: 100%;
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: 20px;
        z-index: 9999;
    }
}

.tns-nav > .tns-nav-active {
    background: #999;
}
.tns-nav > [aria-controls] {
    width: 9px;
    height: 9px;
    padding: 0;
    margin: 0 5px;
    border-radius: 50%;
    background: #ddd;
    border: 0;
}   
.tns-item {
    position: relative;
}
.slide-text {
    position: absolute;
    bottom: 10%;
    left: 30%;
    text-transform: uppercase;
    color: #fff;
    font-size: 36px;
    text-shadow: 4px 4px 2px rgba(0, 0, 0, .7);
}